BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 100

BreakBeforeBraces: Allman

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: AllIfsAndElse

PointerAlignment: Left

NamespaceIndentation: All

AccessModifierOffset: -4

SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<Windows\.h>'
    Priority: -1
  - Regex: '^<windows\.h>'
    Priority: -1
  - Regex: '^<.*\.h>'
    Priority: 1
  - Regex: '^<[^.]+>$'
    Priority: 2
  - Regex: '.*'
    Priority: 3

ReflowComments: false
